

	<section id="contact" class="contact">
		<div class="container" data-aos="fade-up">

			<div class="section-title">
				<h2>Contact</h2>
			</div>
			<div class="row mt-1">

				<div class="col-lg-4">
					<div class="info">

						<div class="email">
							<i class="bi bi-envelope"></i>
							<h4>Email:</h4>
							<p>hossien021.m@gmail.com  hossien021.m@yahoo.com</p>
						</div>

						<div class="phone">
							<i class="bi bi-phone"></i>
							<h4>Call:</h4>
							<p>+98 915 212 2109</p>
						</div>

					</div>

				</div>

				<div class="col-lg-8 mt-5 mt-lg-0">

					<form method="post" role="form" class="php-email-form">
						<div class="row">
							<div class="form-group">
								<input type="text" name="name" class="form-control" onchange="send_mail()" id="name" placeholder="Full Name" required>
							</div>
						</div>
						<div class="form-group mt-3">
							<input type="text" class="form-control" name="subject" onchange="send_mail()" id="subject" placeholder="Subject" required>
						</div>
						<div class="form-group mt-3">
							<textarea class="form-control" name="message" onchange="send_mail()" id="message" rows="5" placeholder="Message" required></textarea>
						</div>
						<div class="text-center"><button type="submit"><a href="mailto: hossien021.m@yahoo.com" id="send">Send Message</a></button></div>
					</form>

				</div>

			</div>
		</div>
	</section>
</main>
