@model PersonalInfo
@{
    ViewData["Title"] = "My Information";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div style="padding: 60px 200px 60px;" class="col-md-12">
    <div class="card card-warning">
        <div class="card-header">
            <h3 class="card-title">Information Form</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <form role="form" method="post" href="@Url.Action("Informations","Admin")">
                <!-- text input -->
                <div class="form-group">
                    <label>FullName</label>
                    <input asp-for="Name" type="text"
                           class="form-control"
                           placeholder="Enter Your FullName . . ." />
                </div>
                <div class="form-group">
                    <label>Birth Day</label>
                    <input asp-for="BirthDay" type="text"
                           class="form-control"
                           placeholder="Enter Your Specialty . . ." />
                </div>

                <div class="form-group">
                    <label>Degree</label>
                    <input asp-for="Degree" type="text"
                           class="form-control"
                           placeholder="Enter Your Specialty . . ." />
                </div>
                <!-- textarea -->
                <div class="form-group">
                    <label>Description</label>
                    <textarea asp-for="AboutMe" class="form-control"
                              rows="3"
                              placeholder="Enter Description . . ."></textarea>
                </div>
                @*<div class="form-group">
                    <label>Country</label>
                    <input asp-for="From" type="text"
                           class="form-control"
                           placeholder="Enter Your Country . . ." />
                </div>*@
                <div class="form-group">
                    <label>City Of Residence</label>
                    <input asp-for="CityOfResidence" type="text"
                           class="form-control"
                           placeholder="Enter City That Live Now . . ." />
                </div>
                <div class="form-group">
                    <label>Age</label>
                    <input asp-for="Age" type="text"
                           class="form-control"
                           placeholder="Enter Your Age . . ." />
                </div>
                <div class="form-group">
                    <label>Phone</label>
                    <input asp-for="Phone" type="text"
                           class="form-control"
                           placeholder="Enter Your Country . . ." />
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input asp-for="Email" type="text"
                           class="form-control"
                           placeholder="Enter Your Country . . ." />
                </div>
                <div class="form-group">
                    <label>Telegram ID</label>
                    <input asp-for="Telegram" type="text"
                           class="form-control"
                           placeholder="Enter Your TelegramId . . ." />
                </div>
                <div class="form-group">
                    <label>Instagram</label>
                    <input asp-for="Instagram" type="text"
                           class="form-control"
                           placeholder="Enter Your Instagram . . ." />
                </div>
                <div class="form-group">
                    <label>WhatsApp</label>
                    <input asp-for="WhatsApp" type="text"
                           class="form-control"
                           placeholder="Enter Your TelegramId . . ." />
                </div>
                <div class="form-group">
                    <label>Linkdin</label>
                    <input asp-for="Linkdin" type="text"
                           class="form-control"
                           placeholder="Enter Your Country . . ." />
                </div>
                <div class="form-group">
                    <label>GitHub</label>
                    <input asp-for="Github" type="text"
                           class="form-control"
                           placeholder="Enter Your Country . . ." />
                </div>
                <div class="form-group">
                    <label>Is Freelance</label>
                    <input asp-for="IsFreeLance" type="checkbox"
                           class="form-control"/>
                </div>
                @*<div class="form-group">
                        <label for="exampleInputFile">Upload Your Image</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input asp-for="Image" type="file" class="custom-file-input" id="ImageFileInput" placeholder="Choose .jpg Image . . .">
                                <label class="custom-file-label" for="ImageFileInput">Choose .jpg Image</label>
                            </div>
                            <div class="input-group-append">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">Upload CV</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input asp-for="MyCV" type="file" class="custom-file-input" id="CvFileInput">
                                <label class="custom-file-label" for="CvFileInput">Choose File</label>
                            </div>
                            <div class="input-group-append">
                            </div>
                        </div>
                    </div>*@
                <button role="button" class="btn btn-success" type="submit">Submit</button>
            </form>
        </div>
        <!-- /.card-body -->
    </div>
</div>
